@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable outer window scrolling to lock sidebar/navbar layout in place */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Hide scrollbars globally while preserving scrolling functionality */
::-webkit-scrollbar {
  display: none !important;
}

* {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
}
